body {
    background: url(../images/student-bgi.jpg);
    background-attachment: fixed;
}
#menu {
    background-color: rgb(238,110,115);
    border: 0;
    height: 64px;
    margin: 0;
}

#menu:hover {
    background-color: rgb(214,99,103)
}
.brand-logo {
    margin-left: 18%;
}
.right {
    margin-right: 15%;
}

#uu li:hover {
    cursor: pointer;

}

#progress {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 17px;
}

#word-content{
    margin: 100px auto;
    background: url("../images/exambgc.jpg") center center;
    padding: 50px;
    z-index: 1;
    height: 420px;
    /*overflow: hidden;*/
}
#english-content{
    height: 80%;width: 45%;color: black;float: left;
    font-family: KaiTi;
    font-size: 50px;
}
#chinese-content{
    height: 80%; width: 45%;color: #000;float: left;margin-left: 5%;	font-size: 50px;
    font-family: Microsoft Yahei;
}

#error {
    display: none;
    border: 1px solid black;
    position: absolute;
    margin: -160px 0 0 -151px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 300px;
    border-radius: 10%;
    overflow: hidden;
    opacity: 1;
    z-index: 98;
}
#photo {
    text-align: center;
    width: 192px;
    height: 192px;
    margin: 10px auto 0;
}
#information {
    background-color: rgb(107,184,252);
    overflow: hidden;
}
#information div {
    text-align: center;
    margin: 20px 0 10px;
}
#information div h5 {
    color: #fff;
    font-size: 16px;
}
#information div a#ok {
    width: 30%;
    padding: 5px 20px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
}
#information h4 {
    text-align: center;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
}
.mask {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 97;
}

div#modal4.modal,
div#modal1.modal {
	width: 500px;
	border-radius: 5%;
	overflow: hidden;
	background-color: rgb(97,184,176);

}
div#modal1.modal {
	width: 350px;
	height: 200px;
}
.header {
	/*background-color: rgb(97,184,176);*/
	width: 350px;
	height: 130px;
	text-align: center;
	margin: 0 0;
	position: relative;
}
.header h6 {
	text-align: center;
	color: #fff;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}
.tip {
	width: 350px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -175px;
}
.footer {
	background-color: #fff;
	width: 100%;
	height: 70px;
	vertical-align: center;
	text-align: center;
	/*overflow: hidden;*/
}
.footer a {
	border: 1px solid rgb(97,184,176);
	border-radius: 18px;
	color: rgb(97,184,176);
	background-color: #fff;
	margin: 18px 20px 0;
	padding: 5px 20px;
}

.title {
    width: 500px;
    height: 40px;
    background-color: #fff;
    color: rgb(97,184,176);
}

.header2 {
    /*background-color: rgb(97,184,176);*/
    width: 500px;
    height: 210px;
    text-align: center;
    margin: 0 0;
    position: relative;
}

.header2 h6{
    text-align: center;
    color: black;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
}

.header2 h6.newH {
    color: rgb(0,184,176);
    margin: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.footer2 {
    background-color: #fff;
    width: 100%;
    height: 70px;
    vertical-align: center;
    text-align: center;
    /*overflow: hidden;*/
}
.footer2 a {
    border: 1px solid rgb(97,184,176);
    border-radius: 18px;
    color: rgb(0,184,176);
    background-color: #fff;
    margin: 18px 20px 0;
    padding: 5px 20px;
}
.tip2 {
    width: 500px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -250px;
}

/*设置第三轮选择题目*/
#title {
    font-size: 22px;
}

.learn {
    position: absolute;
    bottom: 27%;
    left: 22%;
}
.chose {
    position: absolute;
    bottom: 73%;
    left: 35%;

}
#audioContainer i{
    font-size: 40px;
    /*display: none;*/
}
#audioContainer i:hover {
    cursor: pointer;
}