body {
	background: url(../images/student-bgi.jpg);
	background-attachment:fixed;
}
#menu {
	background-color: rgb(238,110,115);
	border: 0;
	height: 64px;
	margin: 0;
	margin-right: 20px;
}
#menu:hover {
	background-color: rgb(214,99,103)
}
.brand-logo {
	margin-left: 18%;
}
.right {
	margin-right: 15%;
}
#cover
{
	display: block;
	position: fixed;
	width: 100%;
	text-align:center;
	margin-top:14%;
}
#cover h1
{
	font-weight: bold;
	font-style: oblique;
	font-size:100px;
	font-family: Tahoma;
	color: #969eab;
}
.container .row form i {
	margin-right: 10px;
}
.container .row form label {
	font-size: 14px;
	margin: 5px 0;
	font-weight: 800;
}


#confirmChange,
#cancelChange {
	display: none;
	margin: 0 50px;
}

#wordlist{
	display: none;
	margin: 100px auto;
	/*background-color: rgb(245,242,240);*/
	padding: 30px;
	overflow: hidden;
	position: relative;
}

.stone{
	border:1px solid white;
	text-align: center;
	background-color: rgb(227,224,181);
}
.stone1 {
	background-color: rgb(200,211,179);
}
.stone:hover,
.stone1:hover {
	border:1px solid #4db6ac;
}
.point{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	height: 50px;
}
#right_choose{
	color: red;
}
.aa {
	margin: 10px 0;
}
.form1 {
	height: 550px;
}
#list {
	list-style: none;
	width: 100%;
}
#list li {
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	margin: 10px;
}
#list li:hover {
	background-color: rgb(100,200,200);
}
.unclick {
	background-color: rgb(219,225,186);
}
.onclick {
	background-color: rgb(100,200,200);
}
#managerStudent>ul li p {
	text-align: center;
}
#listTable {
	width: 65%;
	margin: 70px auto 10px;
	padding: 20px;
	background-color: rgba(245,242,240,.8);
}

#listTable caption {
	margin: 0px auto 20px;
	font-size: 18px;
	font-weight: 800;
}

#listTable tr,
#listTable td,
#listTable th{
	border: 1px solid #000;
	text-align: center;
}
#listTable a {
	padding: 10px;
}

.even {
	background-color: #fff38f;
}
.odd {
	background-color: #ffffee;
}

#searchContainer {
	display: none;
	position: fixed;
	top: 80%;
	right: 5%;
	width: 300px;
	overflow: hidden;
	/*background-color: rgba(240,242,240,.7);*/
}

#searchContainer .close {
	position: absolute;
	top: 10px;
	right: 0px;
	font-size: 18px;
}

input::-webkit-input-placeholder{
	color: #555;
}
input::-moz-placeholder {
	color: black;
}
input:-ms-input-placeholder {
	color: black;
}
input:-moz-placeholder {
	color: black;
}

#searchContainer .close:hover {
	cursor: pointer;
}

#searchContainer #keyword {
	line-height: 3rem;
	height: 3rem;
	font-size: 18px;
	margin: 0;
}