body {
	background: url(../images/student-bgi.jpg);
	background-attachment:fixed;
}
#menu {
	background-color: rgb(238,110,115);
	border: 0;
	height: 64px;
	margin: 0;
	margin-right: 20px;
}
#menu:hover {
	background-color: rgb(214,99,103)
}
.brand-logo {
	margin-left: 18%;
}
.right {
	margin-right: 15%;
}
#cover
{
	display: block;
	position: fixed;
	width: 100%;
	text-align:center;
	margin-top:14%;	
}
#cover h1
{
	font-weight: bold;
	font-style: oblique;
	font-size:100px;
	font-family: Tahoma;
	color: #969eab;
}
.container .row form i {
	margin-right: 10px;
}
.container .row form label {
	font-size: 14px;
	margin: 5px 0;
	font-weight: 800;
}


#confirmChange,
#cancelChange {
	display: none;
	margin: 0 50px;
}



#oout1,
#oout2,
#oout3,
#oout4,
#oout5,
#oout6,
#changePassword,
#AddExam,
#Exam_Student,
#managerStudent,
#record {
	display: none;
	margin: 100px auto;
	background-color: rgb(245,242,240);
	padding: 30px;
	overflow: hidden;
	position: relative;
}

.stone{
	border:1px solid white;
	text-align: center;
	background-color: rgb(227,224,181);
}
.stone1 {
	background-color: rgb(200,211,179);
}
.stone:hover,
.stone1:hover {
	border:1px solid #4db6ac;
}
.point{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	height: 50px;
}
#right_choose{
	color: red;
}
.aa {
	margin: 10px 0;
}
.form1 {
	height: 550px;
}
#list {
	list-style: none;
	width: 100%;
}
#list li {
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	margin: 10px;
}
#list li:hover {
	background-color: rgb(100,200,200);
}
.unclick {
	background-color: rgb(219,225,186);
}
.onclick {
	background-color: rgb(100,200,200);
}
#managerStudent>ul li p {
	text-align: center;
}
#studentTable {
	width: 70%;
	margin: 0 auto;
}
#studentTable tr,
#studentTable td,
#studentTable th,
#recordTable tr,
#recordTable td,
#recordTable th {
	border: 1px solid #000;
	text-align: center;
}
#studentTable a {
	padding: 10px;
}
#search-container {
	width: 53%;
	position: absolute;
	top: 50px;
	left: 350px;
}
div#search-container input#input {
	display: inline-block;
	width: 60%;
	margin-right: 10px;
}
div#search-container a {
	margin: 0 10px;
}
#managerStudent div.close,
#record .close2 {
	position: absolute;
	top: 10px;
	right: 10px;
	width:30px;
	height: 30px;
}
#managerStudent div.close:hover,
#record .close2:hover {
	cursor: pointer;
}
#managerStudent div.close i,
#record .close2 i{
	font-size: 20px;
}

.input-field {
	position: relative;
}

.eye {
	font-size: 17px;
	position: absolute;
	top: 10px;
	right: 10px;
}

#type {
	display: inline-block;
	width: 87%;
	margin-left: 14%;
}

#recordTable {
	width: 90%;
	margin: 0 auto;
}

#modal2 div span {
	width: 50%;
	display: none;
	margin: 0 28%;
}


#error {
	display: none;
	border: 1px solid black;
	position: absolute;
	margin: -158px 0 0 -124px;
	top: 50%;
	left: 50%;
	background-color: #fff;
	width: 300px;
	border-radius: 10%;
	overflow: hidden;
	opacity: 1;
	z-index: 98;
}
#photo {
	text-align: center;
	width: 192px;
	height: 192px;
	margin: 10px auto 0;
}
#information {
	background-color: rgb(107,184,252);
	overflow: hidden;
}
#information div {
	text-align: center;
	margin: 20px 0 10px;
}
#information div h5 {
	color: #fff;
	font-size: 16px;
}
#information div a#ok {
	width: 30%;
	padding: 5px 20px;
	margin: 0 auto;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 15px;
	color: #fff;
}
#information h4 {
	text-align: center;
	font-size: 18px;
	height: 20px;
	line-height: 20px;
}
.mask {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 97;
}
.even {
	background-color: #fff38f;
}
.odd {
	background-color: #ffffee;
}

div#modal4.modal,
div#modal3.modal {
	width: 500px;
	border-radius: 5%;
	overflow: hidden;
	background-color: rgb(97,184,176);

}
div#modal3.modal {
	width: 350px;
	height: 200px;
}
.header {
	/*background-color: rgb(97,184,176);*/
	width: 350px;
	height: 130px;
	text-align: center;
	margin: 0 0;
	position: relative;
}
.header h6 {
	text-align: center;
	color: #fff;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}
.tip {
	width: 350px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -175px;
 }
.footer {
	background-color: #fff;
	width: 100%;
	height: 70px;
	vertical-align: center;
	text-align: center;
	/*overflow: hidden;*/
}
.footer a {
	border: 1px solid rgb(97,184,176);
	border-radius: 18px;
	color: rgb(97,184,176);
	background-color: #fff;
	margin: 18px 20px 0;
	padding: 5px 20px;
}


div#modal4 div input#modify-input,
div#modal4 div input#modify-input2{
	width: 50%;
	margin: 20px 26%;
	display: inline-block;
	color: #fff;
}
div#modal4 div input#modify-input2 {
	position: absolute;
	top: 128px;
	left: 0;
}

.title {
	width: 500px;
	height: 40px;
	background-color: #fff;
	color: rgb(97,184,176);
}

.header2 {
	/*background-color: rgb(97,184,176);*/
	width: 500px;
	height: 210px;
	text-align: center;
	margin: 0 0;
	position: relative;
}

.header2 h6{
	text-align: center;
	color: #fff;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}

.header2 h6.newH {
	color: rgb(97,184,176);
	margin: 0;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.footer2 {
	background-color: #fff;
	width: 100%;
	height: 70px;
	vertical-align: center;
	text-align: center;
	/*overflow: hidden;*/
}
.footer2 a {
	border: 1px solid rgb(97,184,176);
	border-radius: 18px;
	color: rgb(97,184,176);
	background-color: #fff;
	margin: 18px 20px 0;
	padding: 5px 20px;
}
.tip2 {
	width: 500px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -250px;
}